    *{ 
    margin: 0px 0px 18px; 
    }

    body{
        font-family: 'Inter',sans-serif; 
        font-size: 18px;
        text-align: left;
    }

    .navbar{
        background-color: #CC768B;
        text-align: center;
        color: #ffffff;
        font-size: x-small;
        letter-spacing: 2px;
    }

    h1 {
        color: #CC768B;
        font-size: 41.6px;
    }

    #titulo {
        color: #616161;
        font-weight: bold;
        font-size: 21px;
    }

    .content{
        margin: 50px 300px 30px 200px;
    }

    .grifar {
        background-color: #CC768B;
        border-radius: 3px;
        font-family: 'Inter',sans-serif;
        width: 10%;
        padding: 0 3px;
    }